$DoF_{total} = DoF_{LRmodel} + DoF_{LRmodel\_error}$

In [4]:
import pandas as pd

In [9]:
data = {'Name': ['Tom', 'Jack', 'Nick', 'Juli'],
        'Marks': [99, 98, 95, 90],
        'Country': ['India', 'US', 'Germany', 'Bolivia'],
        'Weight': [85, 155, 220, 120],
        'Age' : [10, 16, 33, 21]}

In [10]:
df = pd.DataFrame(data)

In [11]:
df

   Name  Marks  Country  Weight  Age
0   Tom     99    India      85   10
1  Jack     98       US     155   16
2  Nick     95  Germany     220   33
3  Juli     90  Bolivia     120   21

In [12]:
Q1 = df.Age.quantile(0.25)
Q3 = df.Age.quantile(0.75)

In [15]:
Q1

14.5

In [16]:
Q3

24.0

(y_true[i] - y_pred[i])²
228 - 227 = 1² = 1
223 - 222 = 1² = 1
267 - 263 = 4² = 16
212 - 212 = 0² = 0
Σ(y_true[i] - y_pred[i])²
1+1+16+0 = 18
Σ(y_true[i] - y_pred[i])² / N
18 / 4 = 4.5

# $\frac{Σ\ (y\_true[i]\ -\ y\_pred[i])^2}{N}$

$(y\_true[i]\ -\ y\_pred[i])^2$

$228\ -\ 227\ =\ 1^2\ =\ 1$

$223\ -\ 222\ =\ 1^2\ =\ 1$

$267\ -\ 263\ =\ 4^2\ =\ 16$

$212\ -\ 212\ =\ 0^2\ =\ 0$

$numerator\ =\ 1\ +\ 1\ +\ 16\ +\ 0\ =\ 18$

$\frac{18}{4}\ =\ 4.5$